.dashboard-title{
    font-size: 2.5rem;
    margin: 0.3rem 0rem;
}

.dashboard-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.dashboard-card{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    border-radius: 10px;
    min-width: 17%;
    color: white;
    margin: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-card-title{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
}

.dashboard-card-data{
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.4vw;
    margin-bottom: 1.4vw;
}

.user-card{
    background-color: #3fbad9;
}

.doctor-card{
    background-color: #f64879;
}

.nurse-card{
    background-color: #31c1a4;
}

.staff-card{
    background-color: #fbbd1b;
}

/* Doctor Dashboard */

.doc-patient-mini-tablebox{
    margin-top: 4rem;
}

/* Admin Dashboard */
.chart-container{
    display: flex;
    padding: 3rem;
    justify-content: center;
}