.ward-dashboard-button-container{
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.ward-dashboard-button-container a{
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #008CBA;
    border: 0px solid #008CBA;
}

.ward-dashboard-button-container a:hover{
    color: #008CBA;
    background-color: white; 
    border: 2px solid #008CBA;
}

.left-button-ward{
    margin-right: 1rem;
}

/* Ward Bed CSS */

.bed-search{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.bed-search form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bed-search input{
    width: 24rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px;
}

.bed-search button{
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: white;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #008CBA;
    border: 0px solid #008CBA;
}

.bed-search button:hover{
    background-color: #07759a;
}

.ward-bed-top-details{
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px black groove;
}


#centre-text{
    text-align: center;
}

/* Prescription */

.Prescription-container{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    margin-bottom: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Prescription-container form{
    width: 100%;
    height: 100%;
    padding-right: 2rem;
}

.Prescription-container label{
    font-size: 14px;
}

.prescription-textarea{
    width: 100%;
    height: 85%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.Prescription-button-box{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.Prescription-container button{
    width: 10rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #008CBA;
    border: 0px solid #008CBA;
}
.Prescription-container button:hover{
    background-color:#1ebe06;
}

/* prescription */
.prescription-button-box{
    display: flex;
    margin: 1rem;
    height: 5rem;
    flex-direction: row;
    width:auto;
    justify-content: flex-end;
}

.prescription-button-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin: 1rem;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#prescription-back{
    background-color: black;
    color: white;
}

#prescription-complete{
    background-color: #1ebe06;
    color: white;
}

#prescription-back:hover{
    background-color: #272732;
}

#prescription-complete:hover{
    background-color: #e8a217;
}
